.webgis-container.webgis-space-saving .webgis-toolbox-tool-item .webgis-toolbox-tool-item-label {
    /*display: none !important;*/
    font-size: 7.5px;
    margin: 0px -5px;
}

body.webgis-space-saving .webgis-ui-imagebutton .webgis-ui-imagebutton-text {
    font-size: 7.5px !important;
}

.webgis-container.webgis-space-saving .webgis-toolbox-tool-item span img {
    width: 20px;
}

.webgis-container.webgis-space-saving .webgis-result-table-tools .webgis-toolbox-tool-item span img {
    width: 20px;
    margin-left: 3px;
}

.webgis-container.webgis-space-saving .webgis-presentation_toc-item,
.webgis-container.webgis-space-saving .webgis-presentation_toc-legend,
.webgis-container.webgis-space-saving .webgis-presentation_toc-item-group {
    padding: 4px 8px;
    font-size: 13px;
    margin: 2px;
}

    .webgis-container.webgis-space-saving .webgis-presentation_toc-item.webgis-presentation_toc-dyncontent-item {
        padding: 2px 8px 2px 28px;
    }

.webgis-container.webgis-space-saving .webgis-expanded .webgis-presentation_toc-title-text {
    padding: 2px 16px 2px 30px;
}

.webgis-container.webgis-space-saving .webgis-presentation_toc-title-legend-icon {
    width: 24px;
    height: 24px;
    background-size: 20px 20px;
}

.webgis-container.webgis-space-saving .webgis-tab-control-tab-content .webgis-result-table.features .webgis-result-table-header {
    top: 68px;
}

.webgis-container.webgis-space-saving .webgis-tab-control-tab-content.tools-collapsed .webgis-result-table.features .webgis-result-table-header {
    top: 20px;
}

.webgis-container.webgis-space-saving .webgis-toolbox-tool-item {
    padding: 5px;
}

.webgis-container.webgis-space-saving .webgis-contextmenu.icons li {
    padding-left: 34px;
}

.webgis-container.webgis-space-saving .webgis-result-table-tools-container .webgis-result-table-tools .webgis-toolbox-tool-item {
    width: 38px;
}

.webgis-container.webgis-space-saving .webgis-toolbar-tabs .webgis-toolbar-tab {
    font-size: 1.25em;
}

.webgis-container.webgis-space-saving .uibutton {
    padding: 8px 8px;
    font-size: 12px;
    border-width: 1px;
}

    .webgis-container.webgis-space-saving .uibutton.uibutton-option-rect {
        padding: 8px 8px;
        font-size: 8px;
        border-width: 1px;
        background-size: 20px;
    }



.webgis-container.webgis-space-saving #edit-editmask-container .webgis-editfield-container {
    padding: 3px 0px;
}

.webgis-container.webgis-space-saving .webgis-input,
.webgis-container.webgis-space-saving .webgis-textarea,
.webgis-container.webgis-space-saving .webgis-select {
    padding: 4px 4px;
}

.webgis-container.webgis-space-saving .webgis-toolbox-tool-block.webgis-tips .webgis-toolbox-tool-block-content {
    max-width: 170px;
    height: 64px;
    font-size: 9px;
}

.webgis-container.webgis-space-saving .webgis-tooldialog-content .webgis-info {
    font-size:0.85em;
}
.webgis-container.webgis-space-saving .webgis-tooldialog-content .webgis-label {
    font-size: 1em;
}

.webgis-container.webgis-space-saving #edit-editmask-container .webgis-label {
    font-size: 12px;
}

.webgis-container.webgis-space-saving .webgis-tooldialog-content .webgis-ui-optionscontainer.contains-lables .webgis-ui-imagebutton {
    width: 38px;
    height: 50px;
    padding: 1px;
    background-size: 20px;
}