.webgis-container.webgis-space-saving {
    /* Fonts */
    --webgis-ui-font-size-tool-label: 7.5px;

    /* Borders */
    --webgis-ui-border-width-button: 1px;

    /* Size, Padding, ... */
    --webgis-ui-tool-item-img-size: 20px;
    --webgis-ui-tool-item-padding: 5px;

    --webgis-ui-presentation-toc-title-expanded-padding: 2px 20px 2px 30px;
    --webgis-ui-presentation-toc-title-padding: 2px 20px 2px 5px;

    --webgis-ui-presentation-toc-item-padding: 4px 8px;
    --webgis-ui-presentation-toc-item-marign: 2px;
    --webgis-ui-presentation-toc-item-font-size: 13px;
    --webgis-ui-presentation-toc-item-legend-size: 24px;

    --webgis-ui-button-padding: 8px 8px;
    --webgis-ui-button-font-size: 12px;

    --webgis-ui-input-padding: 4px 6px;
}

.webgis-container.webgis-space-saving .webgis-toolbox-tool-item .webgis-toolbox-tool-item-label {
    /*display: none !important;*/
    margin: 0px -5px;
}

.webgis-container.webgis-space-saving .webgis-result-table-tools .webgis-toolbox-tool-item span img {
    margin-left: 3px;
}

    .webgis-container.webgis-space-saving .webgis-presentation_toc-item.webgis-presentation_toc-dyncontent-item {
        padding: 2px 8px 2px 28px;
    }

.webgis-container.webgis-space-saving .webgis-tab-control-tab-content .webgis-result-table.features .webgis-result-table-header {
    top: 68px;
}

.webgis-container.webgis-space-saving .webgis-tab-control-tab-content.tools-collapsed .webgis-result-table.features .webgis-result-table-header {
    top: 20px;
}

.webgis-container.webgis-space-saving .webgis-contextmenu.icons li {
    padding-left: 34px;
}

.webgis-container.webgis-space-saving .webgis-result-table-tools-container .webgis-result-table-tools .webgis-toolbox-tool-item {
    width: 38px;
}

.webgis-container.webgis-space-saving .webgis-toolbar-tabs .webgis-toolbar-tab {
    font-size: 1.25em;
}

.webgis-container.webgis-space-saving #edit-editmask-container .webgis-editfield-container {
    padding: 3px 0px;
}

.webgis-container.webgis-space-saving .webgis-toolbox-tool-block.webgis-tips .webgis-toolbox-tool-block-content {
    max-width: 170px;
    height: 64px;
    font-size: 9px;
}

.webgis-container.webgis-space-saving .webgis-tooldialog-content .webgis-info {
    font-size:0.85em;
}
.webgis-container.webgis-space-saving .webgis-tooldialog-content .webgis-label {
    font-size: 1em;
}

.webgis-container.webgis-space-saving #edit-editmask-container .webgis-label {
    font-size: 12px;
}

.webgis-container.webgis-space-saving .webgis-tooldialog-content .webgis-ui-optionscontainer.contains-labels .webgis-ui-imagebutton,
.webgis-container.webgis-space-saving .webgis-tooldialog-content .image-button-container.contains-labels .webgis-ui-imagebutton {
    width: 38px;
    height: 50px;
    padding: 1px;
    background-size: 20px;
}

.webgis-container.webgis-space-saving .webgis-edittheme-tree .webgis-edittheme-tree-theme-list {
    height: calc(100vh - 398px); /* empiric => no scolling of the sidebar*/
}