@model System.Exception

@using Microsoft.Extensions.Hosting
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Environment

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Fehler</title>

    <style>
        body {
            background: #808080;
            text-align: center;
            font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
        }
        .error-message {
            max-width: 800px;
            text-align: left;
            margin: auto;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
            overflow:hidden;
        }
            .error-message h1 {
                color: #80c826;
                background: #f8f8f8;
                padding:20px;
                margin:0px;
                font-weight:normal;
            }

            .error-message h2 {
                padding: 20px;
                font-weight: normal;
                color: #ff0000;
                margin: 0px;
            }

            .error-message .message {
                padding: 20px;
            }

            .error-message .stacktrace {
                padding: 20px;
                color:#acacac;
                font-size:12px;
            }
    </style>
</head>
<body>
    <div class="error-message">
        <h1>WebGIS Error</h1>
        <h2>Bei Ihrer Anforderung sind Fehler aufgetreten:</h2>
        @if (Model != null)
        {
            <div class="message">
                @(Model.Message)
            </div>

            @if(Model is NullReferenceException || Environment.IsDevelopment())
            {
                <p class="stacktrace">
                    @Html.Raw(Model.StackTrace.Replace("\n", "<br>"));
                </p>
            }
        }
    </div>
</body>
</html>