{
  "shared-crypto-keys-path":"{api-repository-path}/security/keys",
  "company":"",
  "elasticsearch-endpoint": null,
  "force-https": false,
  "services-default-url-scheme": "http://",
  "webgis-portal-instance":"{portal-internal-url}",
  "cms-items": [
	{
      "id": "webgis-release-default",
      "name": "WebGIS Release Default",
      "path": "{api-repository-path}/cms/param/webgis-release-default",
      "scheme": "webgis",
      "deployments": [
        {
          "name": "default",
          "target": "{api-repository-path}/cms/publish/cms-default.xml",
          "replacement-file": "",
          "postEvents":{
              "commands":[
                
              ],
              "http-get":[
                "{api-internal-url}/cache/clear"
              ]
          }
        }
      ]
    },
	{
      "id": "webgis-{company}",
      "name": "WebGIS {company}",
      "path": "{api-repository-path}/cms/param/webgis-{company}",
      "scheme": "webgis",
      "deployments": [
        {
          "name": "default",
          "target": "{api-repository-path}/cms/publish/cms-{company}.xml",
          "replacement-file": "",
          "postEvents":{
              "commands":[
                
              ],
              "http-get":[
                "{api-internal-url}/cache/clear"
              ]
          }
        }
      ]
    }
  ]
}
