{
  "identityType": "subscriber-db:fs:{api-repository-path}/db/subscriber",
  
  "identityType_": "_oidc",
  "oidc" : {
    "authority": "http://localhost:8080/realms/webgisrealm",
    "clientId":"webgis",
    "clientSecret": "",
    "requiredRole": "webgis-admin",
	 "scopes": ["openid", "roles" ],
    // claims
	 "claimsFromUserInfoEndpoint": true,
	 "nameClaimType": "preferred_username",
	 "roleClaimType": ""
  },
  "users":[
  ]
}