# Aus version: "3.8"

services:
    webgis-cms:
        image: ${WEBGIS_CR}webgis-cms:${WEBGIS_CMS_TAG}
        ports:
            - "5003:8080"
        volumes:
            - ${WEBGIS_HOST_ROOT_PATH}/cms/_config:/app/_config
            - webgis-repository:/etc/webgis-repository
        networks:
            - webgis-network
        env_file:
            - common.env
            - cms.env

    webgis-api:
        image: ${WEBGIS_CR}webgis-api:${WEBGIS_API_TAG}
        ports:
            - "5001:8080"
        volumes:
            - ${WEBGIS_HOST_ROOT_PATH}/api/_config:/app/_config
            - webgis-repository:/etc/webgis-repository
        networks:
            - webgis-network
        env_file:
            - common.env
            - api.env

    webgis-portal:
        image: ${WEBGIS_CR}webgis-portal:${WEBGIS_PORTAL_TAG}
        ports:
            - "5002:8080"
        volumes:
            - ${WEBGIS_HOST_ROOT_PATH}/portal/_config:/app/_config
            - webgis-repository:/etc/webgis-repository
        networks:
            - webgis-network
        env_file:
            - common.env
            - portal.env

volumes:
    webgis-repository: 
        driver: local
        driver_opts:
            type: none         
            device: ${WEBGIS_HOST_ROOT_PATH}/webgis-repository   # host directory
            o: bind

networks:
    webgis-network:
