<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

	<!-- Shared Crypto Keys -->
	<add key="shared-crypto-keys-path" value="{api-repository-path}/security/keys"/>  

	<add key="graphics-engine" value="skia"/> <!-- skia/gdiplus, no value = system default -->
	  
	<!-- App Roles -->
    <add key="app-roles" value="all" />                                   <!-- webgisapi,datalinq,datalinqstudio,subscriberpages   default: all -->
	   
    <!-- CMS -->
    <add key="cmspath_default" value="{api-repository-path}/cms/publish/cms-default.xml" />    <!-- Pfad zu CMS mit Namen ccgis_default. Namen sind wichtig um CMS Dateien beim erstellen von Karten auseinander zu halten. Namen sollten nachträglich nicht mehr geändert weden -->
	<add key="cmspath_{company}" value="{api-repository-path}/cms/publish/cms-{company}.xml" />
	<add key="cmsgdischema_default" value="" />                                   <!-- GDI Schema aus dem CMS, das standardmäßig verwendet wird -->
    
    <!-- Output Path and Url -->
    <add key="outputPath" value="{api-repository-path}/output" />                           <!-- Pfad zum Output-Verzeichnis -->
    <add key="outputUrl" value="{api-onlineresource}/output" />                        <!-- Url zum Output-Verzeichnis. Muss für den Anwender erreichbar sein -->
    <add key="server-side-configuration-path" value="{api-repository-path}/configuration"/> <!-- Pfad zur Konfiguration -->

    <!-- Proj4 Database -->
    <add key="p4database" value="#" />                                    <!-- ConnectionString zu P4 Datenbank, "#" => interne connections verwenden  -->
    <add key="p4_default" value="3857" />

    <!-- API Security -->
    <add key="api-security" value="hmac" />

    <!-- Cache Database -->
    <!---->
    <add key="cache-provider" value="fs" />
    <add key="cache-connectionstring" value="{api-repository-path}/db/cache" />
    
    <!-- Cache Aside -->
    <add key="cache-aside-provider" value="inapp" />           <!-- optional: leer, redis, inapp -->
    <add key="cache-aside-connectionstring" value="3600" />    <!-- 3600 Sekunden caching -->     <!-- ConnectionString zu redis, zB localhost:6379 -->

    <!-- Subscriber Database -->
    <add key="subscriber-db-connectionstring" value="fs:{api-repository-path}/db/subscriber" />  <!-- Pfad zu CMS ohne Namen --> 
    <add key="subscriber-admins" value="admin" />                                           <!-- Name der admins (mit Beistrich getrennt) -->

    <!-- Subscriber Registration -->
    <add key="allow-subscriber-login" value="true" />                                <!-- default: true  wenn false, ist kein Login mehr möglich (Security: In Internet keine Konfiguration mehr) -->
    <add key="allow-register-new-subscribers" value="true" />                        <!-- dürfen sich subscriber registrieren -->
    <add key="subscription-tools" value="clients,portal-pages,datalinq-endpoints" /> <!-- Was dürfen Subscriber verwenden? clients, portals,datalinq-endpoints (default-value: clients) -->
    <add key="portal-allowed-creators" value="*" />                                  <!-- * -->   

    <!-- Subscriber Portal -->
	<add key="api-url" value="{api-onlineresource}" />                                         <!-- Url mit der Api von außen sichtbar ist. Header Platzhalter sind erlaubtt -->
    <add key="portal-url" value="{portal-onlineresource}" />                                   <!-- Url mit der Portal von außen sichtbar ist. Header Platzhalter sind erlaubtt -->
    <add key="portal-internal-url" value="{portal-internal-url}" />                          <!-- Url für interne kommunkiation zwischen API und Portal. Muss anoymn zugänglich sein (zb. localhost) -->
	  
    <!-- Storage -->
    <add key="storage-rootpath" value="{api-repository-path}/db/storage" />               <!-- Pfad zum Storage ordner. Wird falls nicht vorhanden angelegt -->
    <add key="ImpersonateUser" value="" />                                           <!-- Sollte nicht mehr verwendet werden. Nur falls WebGIS sonst keine Schreibrechte auf Storage Verzeichnis hat -->
    
    <!-- Logging (optional) -->
    <add key="logging-type" value="files" />

    <add key="logging-log-performance" value="false" />
    <add key="Log_Performance_Columns" value="SESSIONID;MAPREQUESTID;CLIENTIP;DATE;TIME;MAPNAME;USERNAME;X;Y;SCALE" />
    <add key="logging-log-exceptions" value="true" />
    <add key="Log_Path" value="{api-repository-path}/logs" />                           <!-- Pfad für das Logging: Verschnis muss für WebGIS schreibrechte aufweisen -->


    <!-- OGC -->
    <add key="ogc-online-resource" value="~" />
    <add key="ogc-ticket-db" value="" />
    <add key="ogc-login-service"  value="" />
    <add key="ogc-logout-service" value="" />
    <add key="ogc-default-supported-crs" value="" />     <!-- default Wert 4326 -->

	 <section name="tool-redlining">
	    <add key="allow-add-from-selection" value="true" />
		<add key="allow-add-from-selection-max-features" value="1000" />
		<add key="allow-add-from-selection-max-vertices" value="10000" />
		<add key="allow-download-from-selection" value="true" />
		<add key="default-download-epsg" value="4326" />
	 </section>

	  <section name="tool-coordinates">
		  <add key="allow-upload-max-rows" value="200" />
	  </section>

	  <section name="tool-print">
		  <add key="qualities-dpi" value="150:Hoch (150 dpi),120:Mittel (120 dpi),225:Sehr hoch (225 dpi)" />
		  <add key="scales" value="1000000,500000,250000,100000,50000,25000,10000,5000,3000,2000,1000,500,250,100" />
		  <add key="default-format" value="A4.Landscape" />
		  <add key="scale-wysiwyg" value="false" />
	  </section>

	  <section name="tool-liveshare">
		  <add key="simplify-session-ids" value="true" />

		  <add key="hub" value="https://liveshare.webgiscloud.com" />
		  <add key="clientId" value="gültige client Id" />
		  <add key="clientSecret" value="gültiges client secret" />
	  </section>

	  <section name="tool-threed">
		  <add key="min-resolution" value="5" />
		  <add key="max-resolution" value="100" />
		  <add key="max-model-size" value="1500" />
		  <add key="max-scale" value="100000" />
		  <add key="texture-ortho-service" value="geoland_bm_of@default:0" />                        <!-- serviceId:layerId -->
		  <add key="texture-streets-overlay-service" value="geoland_bm_ov@default:0" />     	     <!-- serviceId:layerId -->
	  </section>

	  <section name="tool-share">
		  <add key="duration" value="1:1 Tag, 7:1 Woche, 31:1 Monat, 365: 1 Jahr, 36500:Für immer" />
	  </section>

	  <section name="tool-identify">
		  <add key="tolerance" value="20" />   <!-- pixel -->
		  <add key="tolerance-for-point-layers" value="10" />
		  <add key="tolerance-for-line-layers" value="5" />
		  <add key="tolerance-for-polygon-layers" value="0" />
		  <add key="show-layer-visibility-checkboxes" value="true" />
	  </section>

	  <section name="proxy">
		  <add key="use" value="false" />
		  <add key="server" value="" />
		  <add key="port" value="" />

		  <add key="user" value="" />
		  <add key="pwd"  value="" />
		  <add key="domain" value="" />
		  <add key="ignore" value="localhost;localhost:5000" />
	  </section>
       
       <section name="datalinq">
		  <add key="include" value="true" />
		  <add key="allow-code-editing" value="true" />
		  
		  <add key="api-encryption-level" value="DefaultStaticEncryption" />
		  <!--
		  <add key="environment" value="development" />
		  
		  <add key="add-namespaces" value="" />

		  <add key="add-css" value="~/content/styles/company/default.css?{version}" />
		  <add key="add-js" value="~/scripts/api/three_d.js?{version}" />
		  
		  <add key="api-engine-connection-replacements" value="" />
          -->		  
	  </section>
  </appSettings>
</configuration>