{
  "identityType": "_oidc",
  "oidc" : {
    "authority": "http://localhost:8080/realms/webgisrealm",
    "clientId":"webgis",
    "clientSecret": "",
    "requiredRole": "webgis-admin",
    "scopes": ["openid", "roles" ],
    // claims
	"claimsFromUserInfoEndpoint": true,
	"nameClaimType": "preferred_username",
	"roleClaimType": ""
  },
  "mapUsers": [
    {
      "userid": "11702178",
      "name": "author",
      "mapUsernames": [ 
		      "my-user-name"  
		  ]
    }
  ]
}