@model Cms.Models.CmsModel
@using E.Standard.Cms.Configuration.Services
@inject CmsConfigurationService CCS

@{
    ViewData["Title"] = "Home Page";
}

<div id="main-navbar">
</div>
<div id="main-navtree">
</div>
<div id="main-container" class="cms-main-container">
    <div id="main-toolbar">
    </div>
    <div id="main-content">
    </div>
</div>



@section Scripts  {
    <script src="~/js/site-cms.js"></script>
    <script type="text/javascript">

        CMS.id = '@Model.CmsId';
        CMS.init();

        var hasElastic = @(CCS.HasElastic.ToString().ToLower());

        $('.navbar-search-button')
            .click(function () {
                $('.navbar-search-holder').toggleClass('collapsed');
                if ($('.navbar-search-holder').hasClass('collapsed')) {
                    $('.navbar-search-holder input').focus();
                }
            });

        $('.navbar-header .tool.order')
            .click(function() {
                let $tool = $(this);
                let $list = $(".cms-content").children("ul");

                if ($tool.hasClass("refresh")) {
                    CMS.updateContent(document.currentPath);
                    return;
                }
                CMS.sortAlphabetic(
                    $list,
                    $tool.hasClass("desc")
                );

                CMS.destroySortable($list);

                if ($tool.hasClass("desc")) $tool.removeClass("desc").addClass("asc");
                else if ($tool.hasClass("asc")) $tool.removeClass("asc").addClass("refresh");
            });

    </script>
}

