<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=9,10,edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>@ViewBag.Title</title>
    <environment names="Development">
        <link href="~/content/Site.css" rel="stylesheet" />
    </environment>

    <environment names="Staging,Production">
        <link href="~/content/Site.css" rel="stylesheet" />
    </environment>

    <script type="text/javascript">
        function moveDown(dir) {
            document.location += '/' + dir;
        }
        function toJsonView() {
            document.location += '?f=json';
        }
    </script>

    <style>
        body {
            background-color: #E2E2E2;
        }
    </style>
</head>
<body style="overflow:auto">

    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    <script src="~/scripts/api/ui/webgis_wizard.js"></script>

    @RenderBody()

    @RenderSection("scripts", required: false)

</body>
</html>
