
@{
    ViewData["Title"] = "Forbidden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:red">Unknown Subsciber (id)</h1>

<p>
    Check Subsbriber Id in application-security.json and map to existing subscriber
</p>

