<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	
	<!-- Shared Crypto Keys -->
	<add key="shared-crypto-keys-path" value="{api-repository-path}/security/keys"/>  
	
	<!-- Allgemein -->
    <add key="company" value="{company}" />
    <add key="portal-name" value="webGIS Portal"/>
    <add key="portal-name-url" value="http://www.e-steiermark.com"/>

    <!-- Security -->
    <add key="security" value="anonym"/>                  <!-- windows, token, clientid, forms, anonym (url) -->
    <add key="security_allowed_methods" value="anonym" /> <!-- erlaubte Methoden mit Beistrich getrennt, keine Leerzeichen !! -->

    <!-- Für die Erzeugung von Auswahllisten (Wenn Windows Auth verwendet wird) -->
    <add key="portal-windows-authentication-ldap-directory" value="LDAP://my-domain" />
    <add key="portal-windows-authentication-ldap-format" value="my-domain\{0}" />

    <add key="use-local-url-scheme" value="true" />
    <add key="allow-subscriber-user-access-page-settings" value="true" />

    <!-- Advanced Security -->
    <add key="allow-subscriber-login" value="true" />                <!-- default: true  wenn false, ist kein Login mehr möglich (Security: In Internet keine Konfiguration mehr) -->

    <add key="api" value="{api-onlineresource}" />                   <!-- Url zum Portal, so wie es auch vom Anwender sichtbar ist -->
    <add key="api-internal-url" value="{api-internal-url}"/>         <!-- Url zum Portal, wie es von Server aus sichtbar ist -->
	<add key="portal-url" value="{portal-onlineresource}" />

	<add key="portal-custom-content-rootpath" value="{api-repository-path}/portal-page-content" />

	<add key="map-calc-crs" value="3857" />                          <!-- EPSG Code der hauptsächlich verwendet wird und ih dem Entfernungen gerechnet werden sollten  -->

    <add key="register-serviceworker" value="false"/>                <!-- Progessive Web App true/false, zu Zeit nicht in Verwendung  -->

	<!-- Cache  -->
    <add key="cache-provider" value="fs" />
    <add key="cache-connectionstring" value="{api-repository-path}/db/cache" />                   <!-- Gleicher Connectionstring wie in api.config  -->

	<!-- Cache Aside -->
	<add key="cache-aside-provider" value="inapp" />  <!-- optional: leer, redis, inapp -->
	<add key="cache-aside-connectionstring" value="3600" />  <!-- 3600 Sekunden caching -->  <!-- ConnectionString zu redis, zB localhost:6379 -->

	<!-- Subscriber Database -->
    <add key="subscriber-db-connectionstring" value="fs:{api-repository-path}/db/subscriber"/>    <!-- Gleicher Connectionstring wie in api.config  -->
    
    <add key="query-custom-map-layout" value="true" />                                       <!-- Benutzerdefinierte Layouots erlauben   -->
  </appSettings>
</configuration>