@model Cms.Models.ExportModel
@{
    ViewData["Title"] = "Export";
    Layout = "~/Views/Shared/_Layout_empty.cshtml";
}

<p>
    Hier kann das CMS Exportiert werden. Der Export erfolgt in ein ZIP File, die einzelnen Konten werden darin als Verzeichnisse und XML Dateien abgebildet.
    Ein exportiertes CMS kann als Sicherungskopie verwendet werden, um später wieder zu einem bestimmten Stand zurückkehren zu können.
</p>

@if (!String.IsNullOrWhiteSpace(Model?.ErrorMesssage))
{
    <div class="error-message">
        @Model.ErrorMesssage
    </div>
}

<form id="form" method="post">
    <input type="hidden" />
    <input type="checkbox" name="for-linux" id="for-linux" />
	<label for="for-linux">Export für Linux Server (Dateiberechtigungen werden beachtet)</label>
    <p>
		<small>
            Hinweis: Der Export für Linux Server kann verwendet werden,
            wenn das CMS, für das der Export verwendet wird, auf einem Linux Server betrieben wird. 
			Linux Server sind bei File- und Verzeichnisnamen case-sensitiv.
			Alle Verzeichnisnamen werden mit dieser Option in LowerCase umgewandelt,
            um vom Zeil CMS korrekt erkannt zu werden.
		</small>
    </p>
    <br />
    <button type="submit">Export</button>
</form>


@section scripts {
    <script type="text/javascript">
    @if(Model?.ProcDefinition!=null)
    {
        <text>
    var proc = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject( Model.ProcDefinition))');
    CMS.showConsole(proc);
        </text>

    }
    </script>
}