@model Portal.Core.Models.Portal.PortalUploadContentModel

@{
    ViewBag.Title = "UploadContentImage";
    Layout = "~/Views/Shared/_Layout_empty.cshtml";
}

<h2>UploadContentImage</h2>

<script type="text/javascript">

    top.$('.mce-btn.mce-open').parent().find('.mce-textbox').val('@Html.Raw(Model.ImageUrl)');

</script>
