@using E.Standard.Cms.Configuration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@CmsGlobals.SchemaName - Cms</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>

    @RenderBody()

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/sortable/Sortable.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/cms/cms.js"></script>
        <script src="~/js/cms/jquey-extenstions.js"></script>
        <script src="~/js/cms/propertygrid.js"></script>
        <script src="~/js/cms/Forms.js"></script>
        <script src="~/lib/typeahead/typeahead.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/sortable/Sortable.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/cms/cms.js"></script>
        <script src="~/js/cms/jquey-extenstions.js"></script>
        <script src="~/js/cms/propertygrid.js"></script>
        <script src="~/js/cms/Forms.js"></script>
        <script src="~/lib/typeahead/typeahead.bundle.js"></script>
    </environment>

    <script type="text/javascript">
        CMS.appRootUrl = '@(ViewData["AppRootUrl"] ?? String.Empty)';
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
